<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" accept-charset="UTF-8" action="<%= import_courses_path %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                <div class="form-group">
                    <label class="btn btn-primary" for="import-course-input">
                        <input id="import-course-input" type="file" name="course_file" style="display:none;" />
                        <span>Browse</span>
                    </label>

                    <button class="btn btn-primary" type="submit">Upload</button>
                </div>

                <div class="form-group">
                    <a href="<%= courses_path(format: "xls" ) %>" class="btn btn-primary">Export</a>
                </div>
            </form>

            <hr>

            <% if (@courses.empty?) %>

            <div class="well well-lg text-center">
                <h4>No courses to display.</h4>
            </div>

            <% else %>

                <% @courses.each do |course| %>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th colspan="17">
                            <h3 class="pull-left"><%= course.to_s %></h3>
                            <h5 class="pull-right"><%= course.term.to_s %></h5>
                        </th>
                    </tr>

                    <tr>
                        <th>Instructor</th>
                        <th>Section</th>
                        <th>Act Type</th>
                        <th>Days Met</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Lab Hours</th>
                        <th>Marking Hours</th>
                        <th>Coordination Hours</th>
                        <th>Graduate</th>
                        <th>Estimated Enrollment</th>
                        <th>Enrollment</th>
                        <th>Released</th>
                        <th>Capacity</th>
                        <th>Building</th>
                        <th>Room</th>
                        <th></th>
                    </tr>

                    <% course.sections.order(number: :asc).each do |section| %>
                    <tr>
                        <td><%= section.instructor_name %></td>
                        <td><%= section.number %></td>
                        <td><%= section.act_type %></td>
                        <td><%= section.days %></td>
                        <td><%= section.start_time.strftime("%I:%M %p") if section.start_time %></td>
                        <td><%= section.end_time.strftime("%I:%M %p") if section.end_time %></td>
                        <td><%= section.lab_hours %></td>
                        <td><%= section.marking_hours %></td>
                        <td><%= section.coord_hours %></td>
                        <td><%= course.graduate %></td>
                        <td><%= section.enrolled_est %></td>
                        <td><%= section.enrolled %></td>
                        <td><%= section.released %></td>
                        <td><%= section.capacity %></td>
                        <td><%= section.building %></td>
                        <td><%= section.room %></td>
                        <td>
                            <a href="<%# course_edit_path(course) %>" class="glyphicon glyphicon-pencil"></a>
                        </td>
                    </tr>
                    <% end %>
                <% end %>
            </table>

            <% end %>

            <hr>
        </div>
    </div>
</div>