<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" accept-charset="UTF-8" action="<%= import_courses_path %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                <div class="form-group">
                    <label for="import-course-input">File</label>
                    <input id="import-course-input" type="file" name="course_file" />
                </div>

                <button class="btn btn-default" type="submit">Upload File</button>
            </form>

          <a href = "<%=courses_path(format: "xls" )%>" class = "btn btn-default">Export</a>

            <% if (@courses.empty?) %>

            <div class="well well-lg text-center">
                <h4>No courses to display.</h4>
            </div>

            <% else %>

            <table class="table table-bordered table-hover">
                <tr>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>Number</th>
                    <th>Section</th>
                    <th>Term</th>
                    <th>Act Type</th>
                    <th>Days Met</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Lab Hours</th>
                    <th>Marking Hours</th>
                    <th>Coordination Hours</th>
                    <th>Estimated Enrollment</th>
                    <th>Enrollment</th>
                    <th>Released</th>
                    <th>Capacity</th>
                    <th>Building</th>
                    <th>Room</th>
                    <th></th>
                </tr>

                <% @courses.each do |course| %>
                <tr>
                    <td><%= course.id %></td>
                    <td><%= course.subject %></td>
                    <td><%= course.number %></td>
                    <td><%= course.section %></td>
                    <td><%= course.term %></td>
                    <td><%= course.act_type %></td>
                    <td><%= course.days %></td>
                    <td><%= course.start_time.strftime("%I:%M %p") if course.start_time %></td>
                    <td><%= course.end_time.strftime("%I:%M %p") if course.end_time %></td>
                    <td><%= course.lab_time %></td>
                    <td><%= course.mark_time %></td>
                    <td><%= course.coord_time %></td>
                    <td><%= course.enrolled_est %></td>
                    <td><%= course.enrolled %></td>
                    <td><%= course.released %></td>
                    <td><%= course.capacity %></td>
                    <td><%= course.building %></td>
                    <td><%= course.room %></td>
                    <td>
                        <a href="<%# course_edit_path(course) %>" class="glyphicon glyphicon-pencil"></a>
                    </td>
                </tr>
                <% end %>
            </table>

        <% end %>
        </div>
    </div>
</div>