<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" accept-charset="UTF-8" action="<%= import_courses_path %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                <div class="form-group">
                    <label for="import-course-input">File</label>
                    <input id="import-course-input" type="file" name="course_file" />
                </div>

                <button class="btn btn-default" type="submit">Upload File</button>
            </form>

          <a href = "<%=courses_path(format: "xls" )%>" class = "btn btn-default">Export</a>

            <% if (@courses.empty?) %>

            <div class="well well-lg text-center">
                <h4>No courses to display.</h4>
            </div>

            <% else %>

            <table class="table table-bordered table-hover">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Section</th>
                    <th></th>
                </tr>

                <% @courses.each do |course| %>
                <tr>
                    <td><%= course.id %></td>
                    <td><%= course.name %></td>
                    <td><%= course.section %></td>
                    <td>
                        <a href="<%# course_edit_path(course) %>" class="glyphicon glyphicon-pencil"></a>
                    </td>
                </tr>
                <% end %>
            </table>

        <% end %>
        </div>
    </div>
</div>