<!DOCTYPE html>
<html>
    <head>
      <title>TA Finder</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <body>

        <header id="header-container" class="container-fluid">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-1 header-column"></div>
                <a href="<%= root_path %>" class="col-xs-12 col-sm-2 col-md-1 header-column">
                    <div class="ubc-sprite ubc-logo"></div>
                </a>
                <a href="<%= root_path %>" class="hidden-xs hidden-sm col-md-2 header-column">
                    <div class="ubc-sprite ubc-100-logo"></div>
                </a>
                <a href="<%= root_path %>" class="hidden-xs col-sm-10 col-md-7 header-column">
                    <div class="ubc-sprite ubc-wordmark"></div>
                </a>
                <div class="hidden-xs hidden-sm col-md-1 header-column"></div>
            </div>
      </header>

        <nav id="navbar-container" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <% if logged_in? %>
                        <li>
                            <a href="<%= applications_path %>">Applications</a>
                        </li>
                        <li>
                            <a href="<%= courses_path %>">Courses</a>
                        </li>
                        <li>
                            <a href="<%= terms_path %>">Terms</a>
                        </li>
                        <% else %>
                        <li>
                            <a href="<%= root_path %>">Home</a>
                        </li>
                        <li>
                            <a href="<%= change_application_path %>">Modify Application</a>
                        </li>
                        <% end %>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if logged_in? %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>
                                        <span><%= current_user.email %></span>
                                        <span class="caret"></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="<%= edit_application_message_path %>">Application Message</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <form accept-charset="UTF-8" action="<%= logout_path %>" method="post">
                                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
                                    <button class="btn btn-link" type="submit">Logout</button>
                                </form>
                            </li>
                        <% else %>
                            <li>
                                <a href="<%= login_path %>">Admin Login</a>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>

        <% flash.each do |key, value| %>
            <div class="alert alert-dismissible alert-<%= key %>" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span><%= value %></span>
            </div>
        <% end %>

        <div id="main-container">
            <%= yield %>
        </div>

    </body>
</html>
