<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

<div class="form-group">
    <label for="firstName-input">First Name</label>
    <input id="firstName-input" type="text" name="application[firstName]" value="<%= application.firstName if application.present? %>" />
</div>

<div class="form-group">
    <label for="lastName-input">Last Name</label>
    <input id="lastName-input" type="text" name="application[lastName]" value="<%= application.lastName if application.present? %>" />
</div>

<div class="form-group">
    <label for="studentNum-input">Student #</label>
    <input id="studentNum-input" type="text" name="application[studentNum]" value="<%= application.studentNum if application.present? %>" />
</div>

<div class="form-group">
    <label for="faculty-input">Faculty</label>
    <input id="faculty-input" type="text" name="application[faculty]" value="<%= application.faculty if application.present? %>" />
</div>

<div class="form-group">
    <label for="yearOfStudy-input">Year of Studies in 2015/16</label>
    <input id="yearOfStudy-input" type="number" name="application[yearOfStudy]" min="1" step="1" value="<%= application.yearOfStudy if application.present? %>" />
</div>

<div class="form-group">
    <label for="GPA-input">Current GPA</label>
    <input id="GPA-input" type="number" name="application[GPA]" min="0" value="<%= application.GPA if application.present? %>" />
</div>

<div class="form-group">
    <label for="ubcEmployeeId-input">UBC Employee ID</label>
    <input id="ubcEmployeeId-input" type="text" name="application[ubcEmployeeId]" value="<%= application.ubcEmployeeId if application.present? %>" />
</div>

<div class="form-group">
    <label for="program-input">Program</label>
    <input id="program-input" type="text" name="application[program]" value="<%= application.program if application.present? %>" />
</div>

<div class="form-group">
    <label for="gender-input">Gender</label>
    <input id="program-input" type="radio" name="application[gender]" value="Male" <%= "checked" if application.present? && application.gender == 'Male' %> /> Male
    <input id="program-input" type="radio" name="application[gender]" value="Female" <%= "checked" if application.present? && application.gender == 'Female' %>/> Female
</div>

<div class="form-group">
    <label for="email-input">UBC Email Address</label>
    <input id="email-input" type="email" name="application[email]" value="<%= application.email if application.present? %>" />
</div>

<div class="form-group">
    <label for="streetAddress-input">Current Address</label>
    <input id="streetAddress-input" type="text" name="application[streetAddress]" value="<%= application.streetAddress if application.present? %>" />
</div>

<div class="form-group">
    <label for="city-input">City</label>
    <input id="city-input" type="text" name="application[city]" value="<%= application.city if application.present? %>" />
</div>

<div class="form-group">
    <label for="postalCode-input">Postal Code</label>
    <input id="postalCode-input" type="text" name="application[postalCode]" value="<%= application.postalCode if application.present? %>" />
</div>

<div class="form-group">
    <label for="homePhone-input">Telephone # (Home)</label>
    <input id="homePhone-input" type="text" name="application[homePhone]" value="<%= application.homePhone if application.present? %>" />
</div>

<div class="form-group">
    <label for="cellPhone-input">Telephone # (Cell)</label>
    <input id="cellPhone-input" type="text" name="application[cellPhone]" value="<%= application.cellPhone if application.present? %>" />
</div>

<div class="form-group">
    <label for="graduateFTStatus-input">Will you be a full-time graduate student in Winter 2015/16?</label>
    <input id="graduateFTStatus-input" type="radio" name="application[graduateFTStatus]" value="true" <%= "checked" if application.present? && application.graduateFTStatus %> /> Yes
    <input id="graduateFTStatus-input" type="radio" name="application[graduateFTStatus]" value="false" <%= "checked" if application.present? && !application.graduateFTStatus %> /> No
</div>

<div class="form-group">
    <label for="previousUTAPosition-input">Have you held a previous UTA position at UBC O?</label>
    <input id="previousUTAPosition-input" type="radio" name="application[previousUTAPosition]" value="true" <%= "checked" if application.present? && application.previousUTAPosition %> /> Yes
    <input id="previousUTAPosition-input" type="radio" name="application[previousUTAPosition]" value="false" <%= "checked" if application.present? && !application.previousUTAPosition %> /> No
</div>

<div class="form-group">
    <label>Number of hours per week (minimum 2; maximum 12):</label>
    <label for="preferredHours-input">Preferred Hours</label>
    <input id="preferredHours-input" type="number" name="application[preferredHours]" min="2" max="12" step="1" value="<%= application.preferredHours if application.present? %>" />

    <label for="maximumHours-input">Maximum Hours</label>
    <input id="maximumHours-input" type="number" name="application[maximumHours]" min="2" max="12" step="1" value="<%= application.maximumHours if application.present? %>" />
</div>

<button class="btn btn-default" type="submit">Submit Application</button>