<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

<div class="form-group">
    <p>Select all terms that you wish to apply for</p>
    <% term_options.each do |term| %>
    <label for="term-<%= term.to_s %>-input"><%= term.to_s %></label>
    <input id="term-<%= term.to_s %>-input" type="checkbox" name="application[terms][]" value="<%= term.id %>" />
    <% end %>
</div>

<div class="form-group">
    <label for="first-name-input">First Name</label>
    <input id="first-name-input" type="text" name="application[first_name]" value="<%= application.first_name if application.present? %>" />
</div>

<div class="form-group">
    <label for="last-name-input">Last Name</label>
    <input id="last-name-input" type="text" name="application[last_name]" value="<%= application.last_name if application.present? %>" />
</div>

<div class="form-group">
    <label for="student-id-input">Student #</label>
    <input id="student-id-input" type="text" name="application[student_id]" value="<%= application.student_id if application.present? %>" />
</div>

<div class="form-group">
    <label for="faculty-input">Faculty</label>
    <input id="faculty-input" type="text" name="application[faculty]" value="<%= application.faculty if application.present? %>" />
</div>

<div class="form-group">
    <label for="study-year-input">Year of Studies in 2015/16</label>
    <input id="study-year-input" type="number" name="application[study_year]" min="1" step="1" value="<%= application.study_year if application.present? %>" />
</div>

<div class="form-group">
    <label for="gpa-input">Current GPA</label>
    <input id="gpa-input" type="number" name="application[gpa]" min="0" value="<%= application.gpa if application.present? %>" />
</div>

<div class="form-group">
    <label for="ubc-employee-id-input">UBC Employee ID</label>
    <input id="ubc-employee-id-input" type="text" name="application[ubc_employee_id]" value="<%= application.ubc_employee_id if application.present? %>" />
</div>

<div class="form-group">
    <label for="program-input">Program</label>
    <input id="program-input" type="text" name="application[program]" value="<%= application.program if application.present? %>" />
</div>

<div class="form-group">
    <p>Gender</p>
    <label for="gender-male-input">Male</label>
    <input id="gender-male-input" type="radio" name="application[gender]" value="Male" <%= "checked" if application.present? && application.gender == 'Male' %> />
    <label for="gender-female-input">Female</label>
    <input id="gender-female-input" type="radio" name="application[gender]" value="Female" <%= "checked" if application.present? && application.gender == 'Female' %>/>
</div>

<div class="form-group">
    <label for="email-input">UBC Email Address</label>
    <input id="email-input" type="email" name="application[email]" value="<%= application.email if application.present? %>" />
</div>

<div class="form-group">
    <label for="street-input">Current Address</label>
    <input id="street-input" type="text" name="application[street]" value="<%= application.street if application.present? %>" />
</div>

<div class="form-group">
    <label for="city-input">City</label>
    <input id="city-input" type="text" name="application[city]" value="<%= application.city if application.present? %>" />
</div>

<div class="form-group">
    <label for="postal-code-input">Postal Code</label>
    <input id="postal-code-input" type="text" name="application[postal_code]" value="<%= application.postal_code if application.present? %>" />
</div>

<div class="form-group">
    <label for="home-phone-input">Telephone # (Home)</label>
    <input id="home-phone-input" type="text" name="application[home_phone]" value="<%= application.home_phone if application.present? %>" />
</div>

<div class="form-group">
    <label for="cell-phone-input">Telephone # (Cell)</label>
    <input id="cell-phone-input" type="text" name="application[cell_phone]" value="<%= application.cell_phone if application.present? %>" />
</div>

<div class="form-group">
    <p>Will you be a graduate student in the term(s) you are applying for?</p>
    <label for="graduate-yes-input">Yes</label>
    <input id="graduate-yes-input" type="radio" name="application[graduate]" value="true" <%= "checked" if application.present? && application.graduate %> />
    <label for="graduate-no-input">No</label>
    <input id="graduate-no-input" type="radio" name="application[graduate]" value="false" <%= "checked" if application.present? && !application.graduate %> />
</div>

<div class="form-group">
    <p>Will you be a full-time graduate student in the term(s) you are applying for?</p>
    <label for="graduate-full-time-yes-input">Yes</label>
    <input id="graduate-full-time-yes-input" type="radio" name="application[graduate_full_time]" value="true" <%= "checked" if application.present? && application.graduate_full_time %> />
    <label for="graduate-full-time-no-input">No</label>
    <input id="graduate-full-time-no-input" type="radio" name="application[graduate_full_time]" value="false" <%= "checked" if application.present? && !application.graduate_full_time %> />
</div>

<div class="form-group">
    <p>Have you held a previous UTA position at UBC O?</p>
    <label for="previous-ta-yes-input">Yes</label>
    <input id="previous-ta-yes-input" type="radio" name="application[previous_ta]" value="true" <%= "checked" if application.present? && application.previous_ta %> />
    <label for="previous-ta-no-input">No</label>
    <input id="previous-ta-no-input" type="radio" name="application[previous_ta]" value="false" <%= "checked" if application.present? && !application.previous_ta %> />
</div>

<div class="form-group">
    <p>Number of hours per week (minimum 2; maximum 12):</p>
    <label for="preferred-hours-input">Preferred Hours</label>
    <input id="preferred-hours-input" type="number" name="application[preferred_hours]" min="2" max="12" step="1" value="<%= application.preferred_hours if application.present? %>" />

    <label for="maximum-hours-input">Maximum Hours</label>
    <input id="maximum-hours-input" type="number" name="application[maximum_hours]" min="2" max="12" step="1" value="<%= application.maximum_hours if application.present? %>" />
</div>

<button class="btn btn-default" type="submit">Submit Application</button>