<p>
  Download:
  <%= link_to "CSV", applications_index_path(format: "csv") %> |
  <%= link_to "Excel", applications_index_path(format: "xls") %>
</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <% if (@applications.empty?) %>

            <div class="well well-lg text-center">
                <h4>No applications to display.</h4>
            </div>

            <% else %>

            <table class="table table-bordered table-hover">
                <tr>
                    <th>ID</th>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>GPA</th>
                    <th></th>
                </tr>

                <% @applications.each do |application| %>
                <tr>
                    <td><%= application.id %></td>
                    <td><%= application.studentNum %></td>
                    <td><%= "#{application.firstName} #{application.lastName}" %></td>
                    <td><%= application.email %></td>
                    <td><%= application.cellPhone || appliaction.homePhone %></td>
                    <td><%= application.GPA %></td>
                    <td>
                        <a href="<%# application_edit_path(application) %>" class="glyphicon glyphicon-pencil"></a>
                    </td>
                </tr>
                <% end %>
            </table>

        <% end %>
        </div>
    </div>
</div>