<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" accept-charset="UTF-8" action="<%= applications_path %>" method="get">
                <div class="form-group">
                    <br>
                    <button class="btn btn-primary" type="submit">Apply</button>
                    <a class="btn btn-danger" href="<%= applications_path %>">Clear</a>
                </div>

                <div class="form-group">
                    <label for="application-search-input">Search</label>
                    <br>
                    <input id="application-search-input" class="form-control" type="text" name="q" <%= "value=#{params[:q]}" if (params[:q].present?) %> placeholder="Query" />
                </div>

                <div class="form-group">
                    <label for="application-order-input">Order</label>
                    <br>
                    <select id="application-order-input" class="form-control" name="order">
                        <% @order_options.each do |value, name| %>
                        <option value="<%= value %>" <%= "selected" if (value.to_s == params[:order]) %>><%= name %></option>
                        <% end %>
                    </select>
                    <select class="form-control" name="order_dir">
                        <% @order_dir_options.each do |value, name| %>
                        <option value="<%= value %>" <%= "selected" if (value.to_s == params[:order_dir]) %>><%= name %></option>
                        <% end %>
                    </select>
                </div>

                <div class="form-group">
                    <label>Filter</label>
                    <br>

                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="filter_term" <%= "checked" if (params[:filter_term] == "on") %> />
                            <span>Current Term</span>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="filter_grad" <%= "checked" if (params[:filter_grad] == "on") %> />
                            <span>Graduates Only</span>
                        </label>
                    </div>
                </div>
            </form>

            <hr>

            <% if (@applications.empty?) %>

            <div class="well well-lg text-center">
                <h4>No applications to display.</h4>
            </div>

            <% else %>
            <p>
                <span>Download:</span>
                <%= link_to "CSV", applications_path(format: "csv") %> |
                <%= link_to "Excel", applications_path(format: "xls") %>
            </p>

            <table class="table table-bordered table-hover">
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>GPA</th>
                    <th>Date Submitted</th>
                    <th></th>
                </tr>

                <% @applications.each do |application| %>
                <tr>
                    <td><%= application.student_id %></td>
                    <td><%= "#{application.first_name} #{application.last_name}" %></td>
                    <td><%= application.email %></td>
                    <td><%= application.cell_phone || appliaction.home_phone %></td>
                    <td><%= application.gpa %></td>
                    <td><%= format_time(application.created_at) %></td>
                    <td>
                        <a href="<%= edit_application_path(application) %>" class="glyphicon glyphicon-pencil"></a>
                        <a href="<%= destroy_application_path(application) %>" class="glyphicon glyphicon-trash" rel="nofollow" data-method="delete"></a>
                    </td>
                </tr>
                <% end %>
            </table>

            <% end %>

            <hr>
        </div>
    </div>
</div>