<table border="1">
  <tr>
    <th>Student Number</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>GPA</th>
    <th>Faculty</th>
    <th>Year of Study</th>
    <th>Graduate Student</th>
    <th>UBC Employee Id</th>
    <th>Program</th>
    <th>Gender</th>
    <th>Street Address</th>
    <th>City</th>
    <th>Postal Code</th>
    <th>Home Phone</th>
    <th>Cell Phone</th>
    <th>Full Time Graduate Student</th>
    <th>Held Previous UTA Position</th>
    <th>Preferred Hours</th>
    <th>Maximum Hours</th>
    <th>Application Submit Date</th>
  </tr>
  <% @applications.each do |application| %>
  <tr>
    <td><%= application.student_id %></td>
    <td><%= application.first_name %></td>
    <td><%= application.last_name %></td>
    <td><%= application.email %></td>
    <td><%= application.gpa %></td>
    <td><%= application.faculty %></td>
    <td><%= application.study_year %></td>
    <td><%= application.graduate %></td>
    <td><%= application.ubc_employee_id %></td>
    <td><%= application.program %></td>
    <td><%= application.gender %></td>
    <td><%= application.street %></td>
    <td><%= application.city %></td>
    <td><%= application.postal_code %></td>
    <td><%= application.home_phone %></td>
    <td><%= application.cell_phone %></td>
    <td><%= application.full_time %></td>
    <td><%= application.previous_ta %></td>
    <td><%= application.preferred_hours %></td>
    <td><%= application.maximum_hours %></td>
    <td><%= application.created_at %></td>
  </tr>
  <% end %>
</table>